version: 3.1

jobs:
  lint-app:
    docker:
      - image: circleci/node:16.17.0
    steps:
      - checkout
  build-docker:
    machine: true
    steps:
      - checkout
      
      - run:
            name: Build Docker image
           command: docker build -t simple-node .
      - run:
            name: tag to Docker Hub
           command: docker tag simple-node beakalyk/simple-node:latest     
            
      - run:
        # Pushes the Docker image you created to the Docker Hub.
        # Replace khabdrick/circleci-tutorial:v1 with the 
				# <docker_hub_username/docker-hub-password:version> you used to build the image above
          name: Push to Docker Hub
          command: |
            docker login -u akaabe@hotmail.com -p 6D&QNC9HXA5o
            docker push beakalyk/simple-node beakalyk
            echo "-------- All images succesfully built----------"
            echo " ------- login in to hub--------"
            echo "-------------- Pushing images to dockerhub-------"
            
workflows:
  default:
    jobs:
      - lint-app
      - build-docker:
          requires: [lint-app]
