orbs:
  docker: circleci/docker@0.7.0
version: 1.1
executors:
  my-custom-executor:
    docker:
      - image: cimg/node:16.17.0
        auth:
          # ensure you have first added these secrets
          # visit app.circleci.com/settings/project/github/beakalyk/sample-node/environment-variables
          username: $DOCKER_HUB_USER
          password: $DOCKER_HUB_PASSWORD

   
jobs:
  my-job-name:
    environment:
      DOCKER_HUB_USER: beakalyk
      DOCKER_HUB_PASSWORD: 5D&QNC9HXA5o
    executor: my-custom-executor
    steps:
      - checkout
      - run: |
          docker --version # print the version for logging
          
          
             

  
workflows:
  my-custom-workflow:
    jobs:
      - my-job-name