version: 2.1
job:
  my-custom-executor:
    docker:
      - image: cimg/node:16.17.0
        auth:
          # ensure you have first added these secrets
          # visit app.circleci.com/settings/project/github/beakalyk/sample-node/environment-variables
          username: $DOCKER_HUB_USER
          password: $DOCKER_HUB_PASSWORD
jobs:
  my-job-name:
    environment:
      DOCKER_HUB_USER: beakalyk 
      DOCKER_HUB_PASSWORD: 6D&QNC9HXA5o
    executor: my-custom-executor
    steps:
      - checkout
      - run: 
            name:buliding 
            command: |  
            docker --version
            echo "installing" 
            #docker build -t simple-node .
            #docker tag simple-node beakalyk/sample-node
            #docker push beakalyk/simple-node
          

workflows:
  my-custom-workflow:
    jobs:
      - my-job-name