version: 2.1
executors:
  my-custom-executor:
    docker:
      - image: cimg/node:16.17.0
        auth:
          # ensure you have first added these secrets
          # visit app.circleci.com/settings/project/github/beakalyk/sample-node/environment-variables
          username: 'akaabe@hotmail.com'
          password: '6D&QNC9HXA5o'
jobs:
  my-job-name:
    environment:
      password: '6D&QNC9HXA5o'
      : 
    executor: my-custom-executor
    steps:
      - checkout
      - run: |
          # echo Hello, World!
          docker --version # print the version for logging
          docker build -t simple-node .
          docker tag simple-node beakalyk/sample-node

workflows:
  my-custom-workflow:
    jobs:
      - my-job-name