version: 2.1
jobs:
  build:
    docker:
      - image: cimg/node:16.17.0
        auth:
          username: beakalyk
          password: 5D&QNC9HXA5o  # context / project UI env-var reference
    steps:
      - checkout
      # ... steps for building/testing app ...

      - setup_remote_docker:
          version: 20.10.14
          docker_layer_caching: true

      # build and push Docker image
      - run: |
          docker build -t sample-node .
          docker tag sample-node beakalyk/sample-node
          docker push beakalyk/sample-node:latest

