version: 2
jobs:
  build:
    docker:
    - image: Node:16

  steps:
      - checkout
    - run:
          # Builds a docker image to push to Docker Hub
				   # Tag (-t) pattern is below, where CircleCI 
				   # to get the Dockerfile from the current directory.
           # <docker_hub_username/docker-hub-password:version>.
           name: Build Docker image
           command: docker build -t simple-node .
    - run:
          # Builds a docker image to push to Docker Hub
				   # Tag (-t) pattern is below, where CircleCI 
				   # to get the Dockerfile from the current directory.
           # <docker_hub_username/docker-hub-password:version>.
           name: Build Docker image
           command: docker tag simple-node beakalyk/simple-node:latest
    - run:
        # Pushes the Docker image you created to the Docker Hub.
        # Replace khabdrick/circleci-tutorial:v1 with the 
				# <docker_hub_username/docker-hub-password:version> you used to build the image above
          name: Push to Docker Hub
          command: |
            docker login -u akaabe@hotmail.com -p 6D&QNC9HXA5o
            docker push beakalyk/simple-node beakalyk
