version: 3.1

jobs:
  lint-app:
    docker:
      - image: circleci/node:16.17.0
    steps:
      - checkout
  build-docker:
    machine: true
    steps:
      - checkout
      - run:
            name: Build Docker image
            command: 

             command: |
            docker build -t simple-node .


            docker tag simple-node beakalyk/simple-node:latest
            echo "-------- All images succesfully built----------"

            echo " ------- login in to hub--------"

            docker login -u akaabe@hotmail.com -p 6D&QNC9HXA5o

            echo "-------------- Pushing images to dockerhub-------"

            docker push beakalyk/simple-node beakalyk
workflows:
  default:
    jobs:
      - lint-app
      - build-docker:
          requires: [lint-app]
