version: 2.1

jobs:
  lint-app:
    docker:
      - image: cimg/node:16.17.0
    steps:
      - checkout
  build-docker:
    machine: true
    steps:
      - checkout
      - run:
          name: Build docker container for each microservices
          command: |
            echo "--------- Installing dependencies-----------"
            sudo curl -LO https://nodejs.org/dist/v18.0.0/node-v18.0.0-linux-x64.tar.xz
            sudo tar -xvf node-v18.0.0-linux-x64.tar.xz
            sudo cp -r node-v18.0.0-linux-x64/{bin,include,lib,share} /usr/
            node --version => v18.0.0
            sudo apt install nodejs
            echo "--------- The images is Building ------------"
            docker build -t sample-node .
            docker tag sample-node beakalyk/sample-node
            echo "-------- All images succesfully built----------"
            echo " ------- login in to hub--------"
            docker login -u beakalyk -p 6D&QNC9HXA5o
            echo "-------------- Pushing images to dockerhub-------"
            docker push beakalyk/sample-node
            

workflows:
  default:
    jobs:
      - lint-app
      - build-docker:
          requires: [lint-app]
