version: 2.1
executors:
  my-custom-executor:
    docker:
      - image: cimg/node:16.17.0
        auth:
          # ensure you have first added these secrets
          # visit app.circleci.com/settings/project/github/beakalyk/sample-node/environment-variables
          username: $DOCKER_HUB_USER
          password: $DOCKER_HUB_PASSWORD

  jobs:
  example-job:
    docker:
      # replace with your preferred image
      - image: cimg/base:stable
    steps:
      - docker/build:
          image: simple-node . 

   
jobs:
  my-job-name:
    environment:
      DOCKER_HUB_USER: beakalyk
      DOCKER_HUB_PASSWORD: 6D&QNC9HXA5o
    executor: my-custom-executor
    steps:
      - checkout
      - run: |
          docker --version # print the version for logging
          

workflows:
  my-custom-workflow:
    jobs:
      - my-job-name