version: 2.1
jobs:
  build:
    docker:
      - image: cimg/node:16.17.0
        auth:
          username: beakalyk
          password: 6D&QNC9HXA5o  # context / project UI env-var reference
    steps:
      - checkout
      # ... steps for building/testing app ...

      - setup_remote_docker:
          version: 20.10.14
          docker_layer_caching: true
      - run:
          name: Install Docker client
          command: |
            set -x
            VER="17.03.0-ce"
            sudo curl -L -o /tmp/docker-$VER.tgz https://get.docker.com/builds/Linux/x86_64/docker-$VER.tgz
            sudo tar -xz -C /tmp -f /tmp/docker-$VER.tgz
            sudo  mv /tmp/docker/* /usr/bin
      # build and push Docker image
      - run: |
          docker build -t sample-node .
          docker tag sample-node beakalyk/sample-node
          sudo docker push beakalyk/sample-node:latest

